/* ----------- GLOBAL ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#accessibility-btn {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

#accessibility-menu {
  position: fixed;
  left: 20px;
  bottom: 90px;
  background: white;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  display: none;
  z-index: 9999;
}

#accessibility-menu button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  cursor: pointer;
}
.high-contrast {
  background: black !important;
  color: yellow !important;
}

.grayscale {
  filter: grayscale(100%);
}

.highlight-links a {
  text-decoration: underline !important;
  font-weight: bold;
}


body {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #fafafa;
  color: #222;
}

/* ----------- HEADER ----------- */
.main-header {
  position: relative;
  z-index: 10;
  background-color: transparent;
  background: rgb(222, 214, 134);
  color: #fff;
  /* margin-bottom: 1px; */
}

.header-inner {
  display: flex;
  align-items: center;
  /* מיישר אנכית */
  justify-content: space-between;
  height: 90px;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu a {
  /* color: #4b5f2e; */
  color: #242f15;
  margin-left: 18px;
  text-decoration: none;
  font-size: 1rem;
}

.logo {
  width: 200px;
  height: auto;
}
#home-recommendation {
  font-size: 30px;
  color: #4b5f2e;
  text-align: center;
  padding: 60px 20px;
}

.featured-recommendation img {
  width: 550px;
  max-width: 90%;
  border-radius: 12px;
}

.featured-recommendation p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}

.more-link {
  display: inline-block;
  margin-top: 25px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #242f15;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px;
  text-align: center;
}

.image-item img {
  width: 100%;
  border-radius: 10px;
}
/* שורת תמונות מעל ההמלצה */
.recommendations-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.recommendations-row img {
  height: 180px;        /* אותו גובה לכולן */
  object-fit: cover;   /* חיתוך חכם */
  /* border-radius: 8px; */
}


.recommendations-row img:hover {
  transform: scale(1.05);
  opacity: 1;
}



/* ----------- HERO ----------- */
.hero-section {
  height: 500px;
  background-color: #242f15;
  background-image: url("../Images/מזוזות.png");
  background-size: 40% 100%;
  /* מריחה מלאה */
  background-position: left;
  background-repeat: no-repeat;

  margin-top: -80px;
  /* ← זה הקסם */
  display: flex;
  justify-content: flex-start;
  /* ⬅️ מעביר לימין */
  align-items: center;
  padding-right: 60px;
  /* רווח מהקצה */
}

.hero-section h1 {
  color: white;
  margin-right: 170px;
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
}

.hero-section p {
  color: white;
  margin-right: 170px;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 18px;
}

/* ----------- SECTIONS ----------- */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.about-section,
.services-section {
  padding: 50px 20px;
  background: #fff;
  margin-top: 20px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.services-section ul {
  list-style-type: disc;
  margin-right: 20px;
}

.services-section li {
  margin-bottom: 8px;
}

/* ----------- FOOTER ----------- */
.footer-section {
  background: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #666;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-item {
  margin: 10px;
  text-align: center;
}

.image-item img {
  max-width: 400px;
  height: 300px;
  display: block;
  object-fit: cover;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

#overlay img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  object-fit: contain;
}