/* ----------- GLOBAL ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #fafafa;
  color: #222;
}

/* ----------- HEADER ----------- */
.main-header {
  background: #4b5f2e;
  color: #fff;
  margin-bottom: 150px;
}

.header-inner {
  display: flex;
  align-items: center;
  /* מיישר אנכית */
  justify-content: space-between;
  height: 90px;
  padding: 0 20px;
}

/* .logo {
  max-height: 70px;
  width: auto;
  object-fit: contain;
} */

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu a {
  color: #fff;
  margin-left: 18px;
  text-decoration: none;
  font-size: 1rem;
}

/* ----------- HERO ----------- */
.hero-section {
  background-image: url("../Images/תמונה\ של\ מזוזה\ 5.jpg");
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.hero-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.1rem;
  margin-bottom: 18px;
}

.btn-primary {
  background: #e67e22;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn-primary:hover {
  background: #d35400;
}

/* ----------- SECTIONS ----------- */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.about-section,
.services-section {
  padding: 50px 20px;
  background: #fff;
  margin-top: 20px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.services-section ul {
  list-style-type: disc;
  margin-right: 20px;
}

.services-section li {
  margin-bottom: 8px;
}

/* ----------- FOOTER ----------- */
.footer-section {
  background: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 25px 20px;
  margin-top: 30px;
}

.footer-section p {
  font-size: 0.9rem;
}